.transactioncode__master__table_UserGroupAccess{
    .empty-table-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      // .paginator__container{
      //   margin-right: 30%;
      //   display: flex;
      // }
      .no__data__found {
        color: #b1b1b1;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }
      .input__filed{
        width:100%
      }
      .pagedropdown_container{
        
        border-style: hidden;
        background-color: #FAFAFA;
    }
  //   .pagedropdown_container{
  //     margin-right: 30%;
  //     border-style: hidden;
  //     background-color: #FAFAFA;
  // }
    //   .p-paginator-bottom.p-paginator.p-component {
    //     display: flex !important;
    //     justify-content: flex-end !important;
    // }
    // .p-dropdown {
    //     background: #ffffff;
    //     border: 0px solid #d1d5db;
    //     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    //     border-radius: 6px;
    //     margin-top: 0.5rem !important;
    //     width: 8% !important;
    //     background-color: #FAFAFA;
    // }
   
    
}
.inputdialog__fieled{
  width:100%
}

