.container__currency {

    // justify-content: center;
    .add__icon__title {
        color: #111927;
        font-size: 30px;
        font-weight: 600;
        font-family: "Nunito", Arial, sans-serif;

    }

    .breadCrums__view__reversal {
        border: none;
        padding: 0;
        font-family: "Nunito", Arial, sans-serif;
        color: #111927;
        font-size: 16px;
        font-weight: 500;


    }
    .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
        color: #B1B1B1;
    }
    .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        font-family: "Nunito", Arial, sans-serif;
    }


    .add__icon__alighn {
        .input__block .p-inputtext {
            font-family: var(--font-family);
            font-feature-settings: var(--font-feature-settings, normal);
            font-size: 1rem;
            color: #4b5563;
            background: #ffffff;
            padding: 0.75rem 0.75rem;
            border: 1px solid #d1d5db;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
            appearance: none;
            border-radius: 6px;
            margin-top: 0.5rem !important;
            width: 100%;
            height: 100%;
        }
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .add__icon__view {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0072d8;
            height: 40px;
            width: 110px;
            border-radius: 30px;
            color: #fff;
            font-family: "Nunito", Arial, sans-serif;

            .add__icon {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                // padding-left: 10px;
                font-family: "Nunito", Arial, sans-serif;
            }

            .add__text {
                color: #FFF !important;
                font-size: 16px;
                font-weight: 500;
                background-color: transparent;
                border-color: transparent;
                font-family: "Nunito", Arial, sans-serif;
            }

        }
    }

    .sub__account__sub__container {
        box-shadow: 0px 0px 20px 0px #00000014;
        border-radius: 10px;



        .input__sub__account {
            width: 100% !important;
            position: relative;
        }

    }

    .main__tabel__title {
        font-family: "Nunito", Arial, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }
    .addbutton_container{
        background-color: #0072d8;
        border-radius: 60px;
        width: 100px !important;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
      }
      .filterbutton_container{
        display: flex;
        // justify-content:center;
        align-items: center;
        margin: 16px 0px;
        gap:20px
    }
      .overallfilter_container{
        display: flex;
        align-items: self-start;
        justify-content: space-between;
    }
    .overallcard_container{
       width:1236px;
       height:700px;
    }
    .searchinput_left{
         width:100%;
         border-radius: 8px;
       }
    .searchiput_container{
        // background-color: red;
        width: 100%;
        margin-bottom: 20px;
    }
    .searchIcon__view__input{
        display: flex;
        // justify-content: center;
        align-items: center;
        border: 1px solid #d1d5db;
        border-radius: 10px;
        height: 45px;
    }
    .p-inputtext{
        border-color: transparent;
        height: 40px;
    }
    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem transparent;
        border-color: transparent;
    }
    .p-inputtext::placeholder {
        font-family: "Nunito", Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #B1B1B1;
        margin-left: 10px;
        
    }

    .p-placeholder {
        font-family: "Nunito", Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #B1B1B1;
        margin-left: 10px;
        
    }
    
    .sort__filter__view {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #d1d5db !important;
        border-radius: 2px;
    }

    .sort__by__text {
        font-family: "Nunito", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #0072d8 !important;

    }
    .sorbyfilter_container {
        flex-direction: row-reverse;
        // gap:10px;
        height: 46px;
        border-color: #d1d5db;
        width: 85%;
        margin-left: 8px;

    }
    .pagedropdown_container{
        margin-right: 30%;
        border-style: hidden;
        background-color: #FAFAFA;
       
    }
    .header_search_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       margin-bottom: 16px;
    
    }
    .fieldvalue_container{
        font-size: 16px;
        font-family: "Nunito", Arial, sans-serif;
        font-weight: 400;
        padding: 1rem 6px !important;
        // text-align: center !important;
    }
.fieldvalue_container_centered{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // pa;dding: 0px !important
}
    .btn__container{
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      .add__btn {
        background-color: #0072d8;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
      }
      .upload__btn{
        border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    color: #0072d8;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
      }
      .searchinput_left{
        width:100%;
        border-radius: 8px;
      }

}

@media screen and (min-width: 768px) {

    .searchIcon__view {
        position: absolute;
        top: 50%;
        left: 28%;
    }
}

@media screen and (min-width: 767px) {
    .search__filter__view{
        display: flex;
        justify-content: space-between;
    }
    

    .sort__filter__view {
        height: 45px;
        width: 100px;
    }

    .searchIcon__view {
        position: absolute;
        top: 34%;
        left: 28%;
    }
}

@media screen and (min-width: 1200px) {
    .sort__filter__view {
        height: 45px;
        width: 150px;
    }

    .searchIcon__view {
        position: absolute;
        top: 37%;
        left: 22%;
    }

    .searchIcon__view {
        position: absolute;
        top: 37%;
        left: 22%;
    }
    
}

@media screen and (min-width: 1400px) {
    .sort__filter__view {
        height: 45px;
        width: 170px;
    }

    .searchIcon__view {
        position: absolute;
        top: 29%;
        left: 21%;
    }
}
.input__block .p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
    margin-top: 0.5rem !important;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem !important;
  }
  .eye__btn {
    color: #ffffff;
    background: #ffff !important;
    border: 1px solid #fff !important;
    padding: 0.1rem 0.75rem !important;
    font-size: 1rem !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 10px !important;
  }
  .p-button:focus {
    box-shadow: none !important;
  }
 
  .paginator__container{
    margin-right: 30%;
  }
  .p-paginator-bottom.p-paginator.p-component {
    display: flex !important;
    justify-content: flex-end !important;
}
.empty-table-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }