.overall__role__master__container{

  
    .add__icon__title__hierarchy {
        color: #111927;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;

    }

    .breadCrums__view__reversal__hierarchy {
        border: none;
        padding: 0;
        font-family: 'Inter', sans-serif;
        color: #111927;
        font-size: 14px;
        font-weight: 600;


    }
    .eye__btn {
        color: #ffffff;
        background: #ffff !important;
        border: 1px solid #fff !important;
        padding: 0.25rem 0.75rem !important;
        font-size: 1rem !important;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s,
          box-shadow 0.2s;
        border-radius: 10px !important;
      }
      .p-button:focus {
        box-shadow: none !important;
      }
    .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
        color: #B1B1B1;
    }
    .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
      }
    

    .add__icon__alighn__hierarchy {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .add__icon__view__hierarchy {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6366F1;
            height: 40px;
            width: 110px;
            border-radius: 30px;
            color: #fff;
            font-family: 'Inter', sans-serif;
            gap:8px;
            cursor: pointer;

            .add__icon__hierarchy {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
               
                font-family: 'Inter', sans-serif;
            }

            .add__text__hierarchy {
                color: #FFF !important;
                font-size: 16px;
                font-weight: 500;
                background-color: transparent;
                border-color: transparent;
                font-family: 'Inter', sans-serif;
            }

        }
    }

    .sub__account__sub__container__hierarchy {
        box-shadow: 0px 0px 20px 0px #00000014;
        border-radius: 20px;
margin-top: 20px;


        .sort__filter__view__hierarchy {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid #d1d5db  !important;
           
            border-radius: 5px !important;

        }
        .sort__by__text__hierarchy {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #6366F1 !important;
    
        }

        .input__sub__account__hierarchy {
            width: 100% !important;
            position: relative;
        }

    }

    .main__tabel__title__hierarchy {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }
    .addbutton_container__hierarchy{
        background-color: #6366f1;
        border-radius: 60px;
        width: 100px !important;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
      }

      .filterbutton_container__hierarchy{
        display: flex;
       
        align-items: center;
        margin: 16px 0px;
        gap:20px
    }
      .overallfilter_container__hierarchy{
        display: flex;
        align-items: self-start;
        justify-content: space-between;
    }
    .overallcard_container__hierarchy{
       width:1236px;
       height:700px;
    }
    .searchinput_left__hierarchy {
        width: 100%;
        border-radius: 8px;
    }

    .searchiput_container__hierarchy {
       
        width: 100%;
        margin-bottom: 20px;
    }
    
    .searchIcon__view__input__hierarchy{
        display: flex;
      
        align-items: center;
        border: 1px solid #d1d5db;
        border-radius: 10px;
        height: 45px;
    }
    .p-inputtext{
        border-color: transparent;
        height: 40px;
    }
    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem transparent;
        border-color: transparent;
    }
    .p-inputtext::placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #B1B1B1;
        margin-left: 10px;
        
    }

    .p-placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #B1B1B1;
        margin-left: 10px;
        
    }
    .sorbyfilter_container__hierarchy{
        flex-direction: row-reverse;
       
        height: 46px;
        border-color: #d1d5db;
        width: 85%;
        margin-left: 8px;
        
    }
    .sort__by__text__hierarchy {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #6366F1;

    }
    .pagedropdown_container{
        margin-right: 30%;
        border-style: hidden;
        background-color: #FAFAFA;
    }
    .header_search_container__hierarchy{
        display: flex;
        justify-content: space-between;
        align-items: center;
       margin-bottom: 16px;
    
    }
    .fieldvalue_container__hierarchy{
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
       
    }
    .fieldvalue_container_centered {
        display: flex;
        justify-content: center;
        align-items: center;padding: 1rem !important;
      }
      .fieldvalue_container{
        padding: 1rem !important;
      }
      .p-breadcrumb ol {
        margin: 0;
        padding: 4px 0px;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

}

@media screen and (min-width: 768px) {

    .searchIcon__view__hierarchy {
        position: absolute;
        top: 50%;
        left: 28%;
    }
}

@media screen and (min-width: 767px) {
    .search__filter__view__hierarchy{
        display: flex;
        justify-content: space-between;
    }
    

    .sort__filter__view__hierarchy {
        height: 45px;
        width: 100px;
    }

    .searchIcon__view__hierarchy {
        position: absolute;
        top: 34%;
        left: 28%;
    }
}

@media screen and (min-width: 1200px) {
    .sort__filter__view__hierarchy {
        height: 45px;
        width: 150px;
    }

    .searchIcon__view__hierarchy {
        position: absolute;
        top: 37%;
        left: 22%;
    }

    .searchIcon__view__hierarchy {
        position: absolute;
        top: 37%;
        left: 22%;
    }
}

@media screen and (min-width: 1400px) {
    .sort__filter__view__hierarchy {
        height: 45px;
        width: 170px;
    }

    .searchIcon__view__ {
        position: absolute;
        top: 29%;
        left: 21%;
    }
}