.transactioncode__master__table {
  .header__search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .searchinput__left {
    width: 100%;
    border-radius: 10px;
  }
  .sub__title {
    color: #111927;
    font-family: "Nunito", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
  }
  .pagedropdown_container{
    background-color: #fafafa;
    border-style: hidden;
  }
  .fieldvalue_container {
    font-size: 16px;
    font-family: "Nunito", Arial, sans-serif;
    font-weight: 400;
  }
  .fieldvalue_container_centered {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .p-button:focus {
    box-shadow: none !important;
  }
 
  .paginator__container{
    margin-right: 30%;
  }
  .p-paginator-bottom.p-paginator.p-component {
    display: flex !important;
    justify-content: flex-end !important;
}
.empty-table-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
