.overall__create__quote__accessories {
  .p-card {
    background: #ffffff;
    color: #111927;
    box-shadow: none !important;
    border-radius: 20px !important;
    background-color: #fff !important;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08)) !important;
    margin-top: 10px;
    .p-card-body {
      padding: 24px;
    }
  }
  .header__title {
    color: #111927;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
  }
  .left__arrow {
    display: flex;
    gap: 10px;
    width: max-content;
  }
  .left__arrow__text {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
  .table__header {
    color: #111927;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
  }
  .sub__heading {
    color: #111927;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
  }
  .policy__button {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    gap: 5%;
  }
  .back__button__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
  .back__text__container {
    .p-button {
      color: #111927;
      background: #ffffff;
      border: 1px solid #ffffff;
      padding: 8px 16px 8px 16px;
      font-size: 1rem;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 6px;
    }
    .p-button-label {
      font-size: 16px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 24px;
      color: #111927;
    }
  }
  .next__text__container {
    .p-button {
      color: #ffffff;
      background: #6366f1;
      border: 1px solid #6366f1;
      padding: 8px 16px 8px 16px;
      font-size: 1rem;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 6px;
    }
    .p-button-label {
      font-size: 16px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 24px;
      color: #ffffff;
    }
  }
}
