@import "../../Color.scss";

.container {
    .to__do{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 500;
        line-height: 75px;
        color: $black;
        
    }
    .traingle__view{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .traingle__text{
        font-size: 100px;
        font-weight: 600;
        color: $dark-red;
    }
    .plicies__text{
        font-size: 16px;
        font-weight: 600;
        color: $dark-red;
    }
    .layout__content {
        flex: 1 1 0;
    }

    .layout__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;

    }

    .header {
        justify-Content: center;

        .activity__addReminders {
            display: flex;
            justify-Content: space-between;
            align-Items: center;

            .add__reminders {
                border-style: none;
                height: 40px;
                width: 150px;
                background-color: $blue;
                color: $white;
                border-radius: 30px;
                padding: 5px;
            }

            .activity__title {
                font-size: 18px;
                font-weight: 600;
                color: $black;
            }

        }

    }
   .activityTracker .active__head{
        justify-content: center;
       
        .activity__card .card {
            height: 100%;
            margin-bottom: 0;
            background-color: $white !important;
        }
       
    }
    

    .activityTracker .arrows .arrow__left {
        display: flex;

    }

    .activityTracker .arrows .arrow__right {
        display: flex;
        justify-content: flex-end;
    }

    .activityTracker .arrows .month__year {
        text-align: center;
        color: $black;
        font-size: 18px;
        font-weight: 500;

    }

    .pre__button {
        background-Color: transparent;
        border: none
    }


    .card .card-title:first-child {
        margin-top: 0;

    }

    .card .card-title {
        font-size: 16px;
        font-weight: 500;
        margin: 2em 0 1em 0;
        letter-spacing: 0.3px;
    }

    .week__dates {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;

        .today {
            font-weight: 600;
            color: $white !important;
            background-color: $blue;
        }

        .selected {
            font-weight: 600;
            color: $white !important;
            background-color: $red;
        }

        .past {
            background-color: transparent;
            color: $light-grey !important;
        }

        .default {
            font-weight: 400;
            color: $black;
            background-color: transparent;
        }

        .get__date {
            margin-bottom: 8px;
        }

        .day__name {
            margin-top: 8px;
        }

    }

    .date__title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .noti__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dialog__view {
        width: "50vw"
    }
}

.drop__view {
    border-radius: 30px;
    background-color: $light-white;
}

.textArea__view {
    border-radius: 10px;
    background-color: $light-white;
}

.search__chat {
    font-size: 14px;
    font-weight: 500;
    padding: 0.35rem 1.25rem;
    border-radius: 30px;
    background-color:
        $blue;
    height: 46px;
    width: 125px;
}

.submit__view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submit {
    font-size: 14px;
    font-weight: 500;
    padding: 0.35rem 1.25rem;
    border-radius: 30px;
    height: 44px;
    width: 169px;
    background-color:
      $blue;
}




@media screen and (min-width: 992px) {
    .lg\:col-6 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 66.6667%;
    }
}

@media screen and (max-width: 1024px) {
    .layout__content {
        padding: 0 0.5em;
    }
}

@media screen and (min-width: 320px) {
    .week__date .week__numbers button {
        font-size: 7px;
        margin-left: 3px;
        margin-right: 3px;
        padding: 5px;
        border-style: none;
        border-radius: 10px;
    }

    .card {
        border-radius: 15px;
        margin-bottom: 1em;
        box-sizing: border-box;
        padding: 1em 1.25em 0 1.25em;
    }

    .container .activityTracker .arrows .month__year {
        font-size: 12px;
    }

    .container .header .activity__addReminders .activity__title {
        font-size: 12px;
    }

    .container .header .activity__addReminders .add__reminders {
        height: 25px;
        width: 100px;
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) {
    .week__date .week__numbers button {
        font-size: 8px;
        margin-left: 6px;
        margin-right: 6px;
        padding: 5px;
        border-style: none;
        border-radius: 10px;
    }

    .card {
        border-radius: 15px;
        margin-bottom: 1em;
        box-sizing: border-box;
        padding: 1.25em;
    }

    .container .activityTracker .arrows .month__year {
        font-size: 12px;
    }
}


@media screen and (min-width: 425px) {
    .week__date .week__numbers button {
        font-size: 8px;
        margin-left: 7px;
        margin-right: 7px;
        padding: 8px;
        border-style: none;
        border-radius: 10px;
    }

    .card {
        padding: 1.25em;
       
    }

    .container .activityTracker .arrows .month__year {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) {
    .week__date .week__numbers button {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 8px;
        border-style: none;
        border-radius: 10px;
        color: $black;
    }

    .card {
        padding: 2em;
        
    }

    .container .activityTracker .arrows .month__year {
        font-size: 14px;
    }

    .container .header .activity__addReminders .activity__title {
        font-size: 14px;
    }

    .container .header .activity__addReminders .add__reminders {
        height: 30px;
        width: 150px;
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .week__date .week__numbers button {
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 15px 10px;
        border-style: none;
        border-radius: 15px;
        color: $black
    }

    .card {
        padding: 1.5em;
    }

    .container .activityTracker .arrows .month__year {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .week__date .week__numbers button {
        font-size: 12px;
        margin-left: 12px;
        margin-right: 12px;
        padding: 20px 15px;
        border-style: none;
        border-radius: 15px;
        color: $black;
        height: 70px;
        width: 50px;
    }

    .card {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .container .activityTracker .arrows .month__year {
        font-size: 18px;
    }

    .container .header .activity__addReminders .activity__title {
        font-size: 18px;
    }

    .container .header .activity__addReminders .add__reminders {
        height: 40px;
        width: 150px;
        font-size: 16px;
    }

}

@media screen and (min-width: 767px) {
    .activityTracker .arrows .arrow__left button {
        height: 10px;
        width: 10px;
    }
}


@media screen and (min-width: 320px) {
    .date__list .calendar__img .immg {
        height: 20px;
        width: 20px;
    }
}


@media screen and (min-width: 768px) {
    .date__list .calendar__img .immg {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .date__list .calendar__img .immg {
        height: 30px;
        width: 30px;
        font-size: 10px;
    }
}

@media screen and (min-width: 320px) {
    .date__list .noti__img .immg {
        height: 30px;
        width: 30px;
    }
}

@media screen and (min-width: 768px) {
    .date__list .noti__img .immg {
        height: 50px;
        width: 50px;
    }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .date__list .noti__img .immg {
        height: 50px;
        width: 50px;
        font-size: 10px;
    }
}

@media screen and (min-width: 320px) {
    .date__list .date__title {
        font-size: 8px;
        font-weight: 400;
        color: $black;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .arrow__left button .immg {
        height: 18px;
        width: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .arrow__right button .immg {
        height: 18px;
        width: 18px;
    }
}

@media screen and (min-width: 768px) {
    .date__list .date__title {
        font-size: 12px;
        font-weight: 400;
        color: $black;

    }
}

@media screen and (min-width: 320px) {
    .date__list {
        background-color: $light-sky;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 60px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 768px) {
    .date__list {
        background-color: $light-sky;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 91px;
        border-radius: 20px;

    }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .date__list .date__title {
        font-size: 12px;
        font-weight: 400;
        color: $black;
        display: flex;
        justify-content: left;
        align-items: center;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .date__list {
        background-color: $light-sky;
        margin-top: 25px;
        margin-bottom: 25px;
        height: 91px;
        border-radius: 20px;
    }
}

// dialog
@media screen and (min-width: 320px) {
    .p-dialog {
        width: 90vw !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .p-dialog {
        width: 50vw !important;
    }
}

@media screen and (min-width: 1200px) {
    .p-dialog {
        width: 40vw !important;
    }
}

.input__block .label__block {
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search__chat {
    font-size: 14px;
    font-weight: 500;
    padding: 0.35rem 1.25rem;
}