.insurance__company__table__container {
  margin-top: 20px;
  padding: 20px 0;
  background: #fff;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
  border-radius: 20px;
  .header_search_container {
    padding: 0 16px;
    .searchinput__field {
      width: 100%;
      color: #111927;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 10px;
    }
    .searchinput__field::placeholder {
      color: #b1b1b1;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .table__title {
    color: #111927;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0;
  }
  .action__button__container {
    display: flex;
    .action__button {
      background: transparent;
      border: none;
    }
  }
  .fieldvalueaction_container{
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // padding: 1rem;
  }
  .empty-table-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .no__data__found {
    color: #b1b1b1;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .reversal__table__main {
    tr {
      // height: 50px;
    }
    thead {
      tr {
        th {
          border: 0 !important;
          font-size: 16px !important;
          font-weight: 500 !important;
          font-family: 'Inter', sans-serif;
        }
        .p-column-header-content {
          //   justify-content: center;
          .p-column-title {
            color: #111927;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          color: #111927;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding: 16px 16px;
        }
      }
    }
    .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
      background-color: transparent;
      border: 0 none;
      color: #1c2536;
      min-width: 0.5rem;
      height: 3rem;
      margin: 0.143rem;
      transition: box-shadow 0.2s;
      border-radius: 50%;
    }
    .p-paginator-bottom {
      border-width: 0;
      justify-content: flex-end;
      span {
        color: #1c2536 !important;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .table__selector {
        padding-right: 30%;
        .pagedropdown_container {
          border: none;
          margin: 0 !important;
          border-color: #FAFAFA;
        }
      }
    }
  }
  // @media only screen and (min-width: 768px) and (max-width: 991px) {
  //   .reversal__table__main {
  //     thead {
  //       tr {
  //         th {
  //           padding: 0.5rem 0.5rem;
  //         }
  //         .p-column-header-content {
  //           .p-column-title {
  //             font-size: 12px;
  //           }
  //         }
  //       }
  //     }
  //     tbody {
  //       tr {
  //         td {
  //           font-size: 12px;
  //         }
  //       }
  //     }
  //     .p-paginator-bottom {
  //       span {
  //         font-size: 12px;
  //       }
  //     }
  //   }
  //   .header_search_container {
  //     .searchinput__field {
  //       font-size: 12px;
  //     }
  //     .searchinput__field::placeholder {
  //       font-size: 12px;
  //     }
  //   }
  //   .table__title {
  //     font-size: 14px;
  //   }
  // }
  // @media only screen and (min-width: 992px) and (max-width: 1440px) {
  //   .reversal__table__main {
  //     thead {
  //       tr {
  //         .p-column-header-content {
  //           .p-column-title {
  //             font-size: 14px;
  //           }
  //         }
  //       }
  //     }
  //     tbody {
  //       tr {
  //         td {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //     .p-paginator-bottom {
  //       span {
  //         font-size: 14px;
  //       }
  //     }
  //   }
  //   .header_search_container {
  //     .searchinput__field {
  //       font-size: 12px;
  //     }
  //     .searchinput__field::placeholder {
  //       font-size: 12px;
  //     }
  //   }
  //   .table__title {
  //     font-size: 16px;
  //   }
  // }
}
