@import "../../../theme/bdoi/tokens";

.aging-report-container {
  padding: 20px;

  .report-header {
    margin-bottom: 8px;

    h2 {
      margin: 10px 0;
      font-size: 24px;
      font-weight: 600;
      color: $color-heading;
    }
  }

  .aging-report-asof {
    display: flex;
    justify-content: flex-end;
  }

  .chart-card,
  .table-card {
    margin-bottom: 20px;
  }
}
