.dasboard__container {
  .dasboard__container__title {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 24px;
  }

  .btn_lable_save_container {
    display: flex;
    justify-content: flex-end;

    .p-button-label {
      font-family: Poppins !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 24px !important;
    }

    .p-dropdown {
      display: flex;
      cursor: pointer;
      position: relative;
      user-select: none;
      flex-direction: row-reverse !important;
    }

    .p-dropdown .p-dropdown-label {
      background: #6366f1;
      border: 0 none;
    }

    .p-dropdown .p-dropdown-label.p-placeholder {
      color: #fff;
    }

    .p-dropdown .p-dropdown-trigger {
      background: #6366f1;
      color: #6b7280;
      width: 3rem;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .p-inputtext {
      font-family: var(--font-family);
      font-feature-settings: var(--font-feature-settings, normal);
      font-size: 1rem;
      color: #4b5563;
      background: #ffffff;
      padding: 0.75rem 0.75rem 0.75rem 0rem;
      // border: 1px 0px 1px 1px solid #d1d5db;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      appearance: none;
      border-top-right-radius: 6px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 6px;
      width: 100%;
    }
  }

  .dasboard__container__sub__title {
    font-size: 24px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 36px;
  }

  .dasboard__container__btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .p-button-label {
      font-size: 16px !important;
      font-weight: 400 !important;
      font-family: Poppins !important;
      line-height: 24px !important;
    }

    .p-button {
      margin: 0;
      display: inline-flex;
      cursor: pointer;
      user-select: none;
      align-items: center;
      vertical-align: bottom;
      padding: 0.55rem 0.55rem !important;
      text-align: center;
      overflow: hidden;
      position: relative;
      gap: 10px !important;
    }
  }

  .top__card__container {
    .p-card {
      background: #ffffff;
      color: #4b5563;
      box-shadow: none !important;
      border-radius: 20px !important;
      fill: #fff !important;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08)) !important;
      margin-top: 10px;
    }

    .card__container__title {
      font-size: 14px;
      font-weight: 300;
      font-family: Poppins;
      line-height: 21px;
      color: #6c737f;
    }

    .card__container__count {
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 24px;
      color: #111927;
    }

    .card__container__btn {
      font-size: 14px;
      font-weight: 400;
      font-family: Poppins;
      color: #111927;
      line-height: 21px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 7px;
      width: max-content;
    }
  }

  .center__card__container {
    .center__card__container__year__lable {
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 24px;
      color: #111927;
    }

    .p-card {
      background: #ffffff;
      color: #4b5563;
      box-shadow: none !important;
      border-radius: 20px !important;
      fill: #fff !important;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08)) !important;
      // margin-top: 10px;
      height: 100%;
    }

    .center__card__container__title {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .center__card__container__sub__title {
      font-size: 14px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 21px;
      color: #6c737f;
    }

    .center__card__container__tabs {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
      background: #ffffff;
      border-color: #6366f1;
      color: #6366f1;
      font-size: 16px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 24px;
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
      border: solid #e5e7eb;
      border-width: 0 0 0px 0 !important;
      border-color: transparent transparent #e5e7eb transparent;
      background: #ffffff;
      color: #6c737f;
      padding: 1rem 1.25rem;
      font-size: 16px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 24px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      transition: box-shadow 0.2s;
      margin: 0 0 -2px 0;
    }

    .center__card__container__calender__title {
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 24px;
      color: #111927;
    }

    .center__card__container__calender__sub__title {
      font-size: 14px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 21px;
      color: #111927;
    }

    .center__card__container__btn {
      font-size: 14px;
      font-weight: 400;
      font-family: Poppins;
      color: #111927;
      line-height: 21px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 7px;
      width: max-content;
    }
    .date__number__container {
      background-color: #f3f4f6;
      border-radius: 14px;
      padding: 0.7rem 0.2rem;
      .month__text {
        color: #6c737f;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
      }
      .month__date {
        color: #111927;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
      }
    }
    .event__name {
      color: #111927;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    .event__time {
      color: #6c737f;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    .date__svg__main__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .date__text__container {
      margin-top: 8px;
    }
  }

  .bottom__card__container {
    .p-card {
      background: #ffffff;
      color: #4b5563;
      box-shadow: none !important;
      border-radius: 20px !important;
      fill: #fff !important;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08)) !important;
      margin-top: 10px;
    }

    .bottom__card__inner__container__svg {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .bottom__card__inner__container__title {
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 24px;
      color: #111927;
      text-align: center;
    }

    .bottom__card__inner__container__sub__title {
      font-size: 14px;
      font-weight: 300;
      font-family: Poppins;
      line-height: 21px;
      color: #6c737f;
      text-align: center;
    }
  }

  .menu__container {
    .p-menu .p-submenu-header {
      margin: 0;
      padding: 0.75rem 1.25rem;
      color: #374151;
      background: #ffffff;
      font-weight: 700;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      display: none !important;
    }
  }
}

.dailog__box__container {
  .p-dialog-header-icons {
    svg {
      color: #111927;
    }
  }
  .dailog__box__container__title {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 6px;
    color: #111927;
    text-align: center;
    padding: 0.5rem 0rem;
  }

  .dailog__box__inputs {
    background-color: #6366f1;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 6px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }

  .dailog__box__inputs__existing {
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 6px;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .dailog__box__inputs__svg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 5%;
  }

  .dailog__box__inputs__container {
    padding: 0rem 3rem;
  }

  .dailog__box__inputs__existing__container {
    display: flex;
    background-color: #6366f1;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 6px;
    color: #fff;
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
  }
}

.agent__flow__common__dialog__container .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #374151;
  padding: 0.75rem 1.5rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.agent__flow__common__dialog__container .p-dialog-content:last-of-type {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.agent__flow__common__dialog__container {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative;
  border-radius: 20px;
}
.agent__flow__common__dialog__container .p-dialog-content {
  background: #ffffff;
  color: #4b5563;
  padding: 0 1.5rem 4rem 1.5rem;
}

// .p-menu .p-menuitem-text {
//   line-height: 1;
//   width: 100%;
// }

.dialog__existingclient__container {
  .dialog__existingclient__header__container {
    background-color: #f3f4f6;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 26px;
    margin-top: 10px;
  }

  .dialog__existingclient___search {
    color: #6c737f;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
  }
  .dialog__existingclient___tip {
    color: #6c737f;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
  }
  .dialog__existingclient__carddata {
    border: 1px solid #d1d5db;
    padding: 8px 425px 8px 11px;
    margin-top: 12px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .dialog__existingclient__carddata__name {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
  .dialog__existingclient__carddata__id {
    color: #6c737f;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
  }
}

