.paymet__options__document__upload__container {
  overflow: hidden;
  border-radius: 20px;
  .file_icon_selector {
    position: relative;
    width: 100%;
    display: grid;
    gap: 4px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    .upload__caption {
      color: #6366f1;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .icon_click_option {
      text-align: center;
      margin-top: -56px;
      height: max-content;
      width: max-content;
      text-align: center;
      justify-self: center;
    }
    .p-fileupload .p-icon {
      display: none;
    }
    .p-fileupload .p-button-label {
      display: none;
    }
    .p-fileupload {
      z-index: 1;
      text-align: center;
    }
    .p-fileupload-choose {
      background-color: transparent;
      height: 50px;
      width: 50px;
      border-radius: none !important;
      border: white;
      border-style: none !important;
    }
  }
  .p-dialog-header {
    padding: 24px 24px 0 24px !important ;
  }
  .p-dialog-title {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .p-dialog-header-icon {
    margin: 0 !important;
    svg {
      color: #000000 !important;
    }
  }
  .p-dialog-content {
    padding: 24px !important;
  }
  .submit__container {
    margin-top: 24px;
  }
}
.payment__share__dialog__container {
  overflow: hidden;
  border-radius: 20px;
  .share__option__area {
    padding-right: 20px;
  }
  .share__option_caption {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .common__div {
    display: flex;
    justify-content: center;
  }
  .p-dialog-header {
    padding: 24px 24px 0 24px !important ;
  }
  .p-dialog-title {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-dialog-header-icon {
    margin: 0 !important;
    svg {
      color: #000000 !important;
    }
  }
  .p-dialog-content {
    padding: 24px !important;
  }
  .submit__container {
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    padding: 6px 5px 6px 8px;
    .p-button {
      border-radius: 6px !important;
      background: #6366f1 !important;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 8px 16px !important;
    }
  }
}
.banking__list__dialog__container {
  overflow: hidden;
  border-radius: 20px;

  .p-dialog-header {
    padding: 24px 24px 0 24px !important ;
  }
  .p-dialog-title {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-dialog-header-icon {
    margin: 0 !important;
    svg {
      color: #000000 !important;
    }
  }
  .p-dialog-content {
    padding: 24px !important;
  }
  .parent__div__container {
    gap: 8px;
    height: 40vh;
    overflow-y: scroll;
    .data__container {
      border-radius: 10px;
      border: 1px solid #e5e7eb;
      padding: 16px 8px;
    }
  }
}
