.overall__lead__view__container {
  .header__title {
    color: #111927;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
  }
  .table__header {
    color: #111927;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    padding: 1.5rem;
  }
  .insured_vehicle_text {
    color: #111927;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    padding: 0 1.5rem;
  }
  .lead__quote__id {
    display: flex;
    justify-content: space-between;
  }
  .quote__id__text {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
  .quote__details {
    color: #111927;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    // margin: 8px 0px;
    justify-content: space-between;
    display: flex;
    padding: 0 1.5rem;
  }
  .sub__title {
    margin: 16px 0;
  }
  .image__text {
    height: 162px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    // padding: 0 1.5rem;
  }
  .image__texts {
    height: 162px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    // padding: 0 1.5rem;
  }
  .image__size {
    flex: 1 1;
    border-radius: inherit;
    padding: 6.4px 16px;
  }
  .policy__text {
    color: #111927;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
    display: flex;
    background-color: #f8f8f8;
    height: 45px;
    padding: 0 1.5rem;
  }
  .vehicle__left__text {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding: 0 1.5rem;
  }
  .id__card__text {
    color: #6c737f;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
  .id__card__id {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
  .id__card__number {
    display: flex;
    justify-content: space-between;
  }

  .id__card__text {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    padding: 0 1.5rem;
  }
  .insurance__details {
    margin: 10px 0px;
    justify-content: space-between;
    display: flex;
  }
  .insurance__text {
    color: #6c737f;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
  }
  .alpha__text {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
  }
  .gross__text {
    color: #6366f1;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
  }
  .gross__count {
    color: #6366f1;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
  }
  .p-card {
    border-radius: 20px !important;
    .p-card-body {
      padding: 0;
    }
  }
  .policy__button {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    gap: 5%;
  }
  .button__component {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    gap: 24px;
    margin: 24px 0px;
  }

  .download__button {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
  }

  .p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 8px 16px;
    border-radius: 6px;
    gap: 10px;
  }
  .left__arrow {
    display: flex;
    gap: 10px;
    width: max-content;
  }
  .left__arrow__text {
    color: #111927;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
}
