.account__category__jv__Edit__modal__container {
  width: 60%;

  .p-dialog-header .p-dialog-header-icon {
    color: #6366f1 !important;
  }

  .form__container {
    .modal__header__align {
      margin-bottom: 1rem;
      justify-content: space-between;

      .modal__title {
        color: #111927;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .input__label__corrections {
      color: #111927 !important;
      font-family: 'Inter', sans-serif;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: normal !important;
    }

    .input__field__corrections {
      color: #111927;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%;
    }

    .correction__btn__reversal {
      color: #fff;
      // font-size: 18px;
      font-weight: 500;
      background-color: #6366f1;
      border-radius: 30px;
      height: 45px;
      width: 153px;
      font-family: 'Inter', sans-serif;

      .p-button-label {
        font-weight: 500 !important;
        font-size: 18px !important;
      }
    }

    // @media only screen and (min-width: 768px) and (max-width: 991px) {
    //   .input__label__corrections {
    //     font-size: 12px !important;
    //     color: #111927 !important;
    //     font-family: 'Inter', sans-serif;
    //     font-style: normal !important;
    //     font-weight: 400 !important;
    //     line-height: normal !important;
    //   }
    //   .select__label__corrections {
    //     font-size: 12px !important;
    //     color: #111927 !important;
    //     font-family: 'Inter', sans-serif;
    //     font-style: normal !important;
    //     font-weight: 500 !important;
    //     line-height: normal !important;
    //   }
    //   .input__field__corrections {
    //     font-size: 12px;
    //     .p-dropdown-label {
    //       font-size: 12px;
    //     }
    //   }
    //   .modal__title {
    //     font-size: 20px;
    //   }
    //   .input__label__corrections {
    //     font-size: 12px !important;
    //   }
    //   .correction__btn__reversal {
    //     .p-button-label {
    //       font-weight: 500 !important;
    //       font-size: 14px !important;
    //     }
    //   }
    // }

    // @media only screen and (min-width: 768px) and (max-width: 991px) {
    //   .form__container {
    //     padding: 30px;
    //     width: 90%;
    //     height: 80%;
    //     overflow-y: scroll;
    //   }
    //   .modal__title {
    //     font-size: 22px;
    //   }
    //   .input__label__corrections {
    //     font-size: 14px !important;
    //   }
    //   .correction__btn__reversal {
    //     font-size: 16px;

    //     .p-button-label {
    //       font-weight: 500 !important;
    //       font-size: 16px !important;
    //     }
    //   }
    // }
  }
}

.master__flow__common__dialog__container.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #4b5563;
  padding: 0 1.5rem 1rem 1.5rem !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 0 none
}