$primary-blue: #3366ff;
$dark-grey: #474d66;
$grey: #7e8fa7;
$light-grey: #cccccc;
$default-background-grey: #ececef;
$white: #ffffff;
$pink: #ed4f9d;
$black: "#000000";
$light-black: #26334d;
$green: #24d164;
$light-tan: #ffefd2;
$Light-green: #05cd99;
$brown-text: #66460d;
$green-text: #317159;
$dark-blue: #0b1b6e;
$light-blue: #a5add4;
$dark-pink: #d26868;
$light-pink: #ffeaea;
$light-green: #49c846;
$light-green: #f0fdf4;
$dark-yellow: #efcb4f;
$yellow: #ffba00;
$light-yellow: #fff5d2;
$dark-red: #ff6565;
$light-red: #ffe8e8;
$gainsboro: #ffffff40;
$medium-Gray: #929292;
$charcoal-Gray: #495057;
$gray-Blue: #dee2e6;
$steel-Blue-Gray: #6c757d;
$silver: #eaeaea;
$sky-Blue: #abccff;
$pale-Blue: #c7d2fe;
$royal-Blue: #6366f1;
$red: #ff0000;
$pale-light-blue: #f1f2f5;
// $yellow: #ffff00;
$gray: #e2e2e2;
$blue: #0062ff;
$light-white: #eaeaea;
$light-sky: #d8e7ff;
$light-silver: #b0b0b0;
$royalblue: #0062ff;
$tommato: #ff595e;
$blue: #0062ff;
$black: #000000;
$purple: #4338ca;
$lightnig-green: #05cd99;
$lightnig-gray: #a5a5a5;
$lightning-white: #18191e;
$selective-yellow: #ffba00;
$light_grey: #eaeaea;
$dark-green: #05cd99;
$silver-sand: #c5c5c5;
$ligth-blue: #7cafff;
$yellow-light: #f6b400;
$green-dark: #40bd9d;
$placeholdar-color: #86888a;
$input-bg-color: #f3f3f3;

// Standard background colors
$main-background: #f8f9fa;
$card-background: #ffffff;
$body-background: #f8f9fa;
