.corrections__jv__Edit__modal__container {
  width: 70%;
  .p-dialog-header .p-dialog-header-icon {
    color: #6366f1 !important;
  }

  .form__container {
    .modal__header__align {
      margin-bottom: 1rem;
      justify-content: space-between;
      .modal__title {
        color: #111927;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .input__label__corrections {
      color: #111927 !important;
      font-family: 'Inter', sans-serif;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: normal !important;
    }
    .select__label__corrections {
      color: #111927 !important;
      font-family: 'Inter', sans-serif;
      font-size: 16px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: normal !important;
    }
    .input__field__corrections {
      color: #111927;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100%;
      margin-bottom: 0 !important;
      .p-dropdown-label {
        // color: #111927;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .input__field__corrections__inactive {
      color: #b1b1b1;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      width: 100%;
      margin-bottom: 0 !important;
      .p-dropdown-label {
        color: #b1b1b1;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
      .p-component:disabled {
        opacity: 1 !important;
      }
    }
    .correction__btn__reversal {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      background-color: #6366f1;
      border-radius: 30px;
      height: 45px;
      width: 153px;
      font-family: 'Inter', sans-serif;
      .p-button-label {
        font-weight: 500 !important;
      }
    }

    // @media only screen and (min-width: 768px) and (max-width: 991px) {
    //   .input__label__corrections {
    //     font-size: 12px !important;
    //     color: #111927 !important;
    //     font-family: 'Inter', sans-serif;
    //     font-style: normal !important;
    //     font-weight: 500 !important;
    //     line-height: normal !important;
    //   }
    //   .select__label__corrections {
    //     font-size: 12px !important;
    //     color: #111927 !important;
    //     font-family: 'Inter', sans-serif;
    //     font-style: normal !important;
    //     font-weight: 500 !important;
    //     line-height: normal !important;
    //   }
    //   .input__field__corrections {
    //     font-size: 12px;
    //     .p-dropdown-label {
    //       font-size: 12px;
    //     }
    //   }
    // }
  }
  // @media only screen and (min-width: 768px) and (max-width: 991px) {
  //   .form__container {
  //     padding: 30px;
  //     width: 90%;
  //     height: 80%;
  //     overflow-y: scroll;
  //   }
  // }
}
