@import "../../Color.scss";
.submit_button .p-button-label {
  // font-family: Poppins;
  // font-size: 16px;
  // color: $white;
  // font-weight: 400;
  // padding: 0.5rem 1rem;
  // background-color: $royalblue;
}
.back_button .p-button-label {
  padding: 0.5rem 1rem;
  color: $black;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.common__dialog {
  .success_popup {
    text-align: center;
    align-items: center;
    display: flex;
    width: 248px;
    height: 240px;
    background-color: $white;
    justify-content: center;
    margin-left: 30px;
  }
  .p-dialog-content {
    background: content-box;
    color: #495057;
    padding: 0 1.5rem 2rem 1.5rem;
  }
  .p-dialog-header {
    border-bottom: 0 none;
    background: content-box;
    color: #343a40;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  .p-dialog-header .p-dialog-header-icon {
    display: none;
  }
  border-radius: 6px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  border: 0 none;
}
