.expiring__policy__container {
  .expiring__policy__container__titles {
    font-size: 24px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 36px;
    color: #111927;
  }
  .leadlisting__overal__container__title {
    font-family: Poppins !important;
    font-size: 34px !important;
    font-weight: 600 !important;
    line-height: 51px !important;
  }

  .sorbyfilter__style {
    height: 100%;
    border-color: #d1d5db;
    width: 100%;
    margin: 0px !important;
    border-radius: 10px;
    border: 1px solid #ced4da;

    .p-dropdown-label {
      padding: 0 8px !important;
      display: flex;
      align-items: center;
    }
  }

  .expiring__policy__container__back__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 14px;
    width: max-content;
    .expiring__policy__container__back__btn__title {
      font-size: 16px;
      font-weight: 400;
      font-family: Poppins;
      line-height: 24px;
      color: #111927;
    }
  }
  .expiring__policy__card__container {
    .p-card {
      background: #ffffff;
      color: #111927;
      box-shadow: none !important;
      border-radius: 20px !important;
      fill: #fff !important;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08)) !important;
      margin-top: 10px;
    }
    .p-inputtext {
      font-family: var(--font-family);
      font-feature-settings: var(--font-feature-settings, normal);
      font-size: 1rem;
      color: #4b5563;
      background: #ffffff;
      padding: 1rem 2.75rem;
      // border: 1px solid #d1d5db;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      appearance: none;
      border-radius: 10px;
      width: 100%;
    }

    .p-input-icon-left,
    .p-input-icon-right {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .name__box__container {
      display: flex;
      gap: 10px;
      align-items: center;
      .p-avatar.p-avatar-xl {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 24px !important;
      }
      .name__text {
        color: #000;
        font-family: Poppins !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
      }
    }

    .policy__number__container {
      display: flex;
      gap: 15px;
      align-items: center;
      .policy__number__text {
        font-size: 16px;
        font-weight: 400;
        font-family: Poppins;
        line-height: 24px;
        color: #111927;
      }
    }
    .expiry__data__container {
      display: flex;
      .expiry__data__text {
        font-size: 16px;
        font-weight: 400;
        font-family: Poppins;
        line-height: 24px;
        color: #111927;
      }
    }
    .days__count__container {
      display: flex;
      .days__count__text {
        font-size: 16px;
        font-weight: 400;
        font-family: Poppins;
        line-height: 24px;
        color: #111927;
      }
    }
    .action__container {
      display: flex;
      margin-left: 27%;
    }
  }
  .table__container {
    .p-inputtext {
      font-family: var(--font-family);
      font-feature-settings: var(--font-feature-settings, normal);
      font-size: 1rem;
      color: #4b5563;
      background: #ffffff;
      padding: 0.75rem 0.75rem;
      // border: 1px 0px 1px 1px solid #d1d5db;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      appearance: none;
      border-top-right-radius: 0px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 0px;
      border-top: 0px solid #d1d5db !important;
      border-bottom: 0px solid #d1d5db !important;
      border-right: 0px solid #d1d5db !important;
      border-left: 0px solid #d1d5db !important;
      width: 100%;
    }

    .p-dropdown .p-dropdown-trigger {
      background: transparent;
      color: #6b7280;
      width: 3rem;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 0px solid #d1d5db !important;
      border-bottom: 0px solid #d1d5db !important;
      border-right: 0px solid #d1d5db !important;
      border-left: 0px solid #d1d5db !important;
    }

    .p-dropdown {
      background: #ffffff;
      border: 0px solid #d1d5db;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 6px;
      margin-top: 0.5rem !important;
    }

    .table__selector__text {
      color: #000 !important;
      font-family: Poppins !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
    }

    .p-paginator .p-paginator-current {
      background-color: transparent;
      border: 0 none;
      color: #000;
      min-width: 3rem;
      height: 3rem;
      margin: 0.143rem;
      padding: 0 0.5rem;
    }

    .p-paginator {
      background: #ffffff;
      color: #6b7280;
      border: 0px solid #f3f4f6;
      border-width: 0;
      padding: 0.5rem 1rem;
      border-radius: 6px;
    }
  }
  .table__container {
    margin-top: 1rem;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 24px 1rem !important;
  }
}
